.navbar3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  background-color: #111f35;
  border-bottom: 1px solid gray;
  border-right: none;
  border-left: none;
}

.nav-btn3 {
  padding: 10px 25px;
  border: 1px solid #888;
  background-color: #d0275100;
  cursor: pointer;
  color: white;
  font-weight: 800;
  margin: 10px;
  border-radius: 10px;
  font-size: 14px;
}

.nav-btn4 {
  padding: 10px 25px;
  border: 1px solid #000000;
  background-color: #D02752;
  cursor: pointer;
  color: white;
  font-weight: 800;
  margin: 10px;
  border-radius: 10px;
  font-size: 14px;
}